<!DOCTYPE html>
<html>
  <head>
    <title>Convertidor de unidades</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://cdn-images-1.medium.com/max/2600/1*EBXc9eJ1YRFLtkNI_djaAw.png"
          alt="" width="20%"
        >
        <h2>Convertidor</h2>
        <p class="lead">Convertir unidades de fuerza</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="unidades">Unidades</label>
              <input type="number" id="unidades" placeholder="" value="34" required>
              <select class="custom-select d-block w-100" id="fuerza1" required>
                <option value="newton" selected >Newton</option>
                <option value="dinas">Dinas</option>
                <option value="libra">Libras</option>
              </select>
              <select class="custom-select d-block w-100" id="fuerza2" required>
                <option value="newton">Newton</option>
                <option value="dinas" selected>Dinas</option>
                <option value="libra">Libras</option>
              </select>
              <input id="resultado" placeholder="" value="" disabled>
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" id="run">Convertir</button>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 Natalia Ramirez</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Aplicaciones en la Nube</a></li>
          <li class="list-inline-item"><a href="#">Universidad Distrital</a></li>
          <li class="list-inline-item"><a href="#">Maestría</a></li>
        </ul>
      </footer>
    </div>
  </body>
  <script>
  $(document).ready(function(){

    $('#run').click(function(e) {
      var data = {
        "valor": parseInt($('#unidades').val()),
        "medida_original": $('#fuerza1').val(),
        "medida_convertir": $('#fuerza2').val()
      }

      $('#resultado').val("Cargando...")
      $.post("/convertir", data, function(result){
        console.log(result.body);
        $('#resultado').val(result.body.valor_convertir)
      });
    });
  });
  </script>
</html>
